<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<location>
	  <system.webServer>
		  <rewrite xdt:Transform="InsertIfMissing">
			  <rules >
				  <rule name="Redirect to www" stopProcessing="true">
					  <match url="(.*)" />
					  <conditions>
						  <add input="{HTTP_HOST}" pattern="^morwalpiz\.com$" />
					  </conditions>
					  <action type="Redirect" url="https://www.morwalpiz.com/{R:1}" redirectType="Permanent" />
				  </rule>
			  </rules>
		  </rewrite>
	  </system.webServer>
</location>
</configuration>