.video-block {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .video-title {
        font-size: 20px;
        font-weight: bold;
        transition: all 0.5s ease;
    }

    .video-description {
        font-size: 14px;
        color: #555;
        transition: all 0.5s ease;
    }

    &:hover {
        transform: scale(1.03); /* Slight zoom-in on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
}
