@font-face {
    font-family: 'High Speed';
    src: url('/fonts/High Speed.otf') format('opentype'), url('/fonts/High Speed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.title-container {
    text-align: center;
    padding-top: 50px;
}

.title-container a {
    text-decoration: none;
}

.title {
    font-size: 64px;
    font-weight: bold;
    font-family: 'High Speed', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Effetto ombreggiatura per 3D */
    letter-spacing: 2px;
}

.title .big-letter {
    color: #333; /* Colore nero per le lettere grandi */
    font-size: 84px; /* Dimensione maggiore per W, M, P */
}

.title .small-letter {
    color: #ececec; /* Colore bianco per le altre lettere */
}

@media (max-width: 768px) {
    .title .big-letter {
        font-size: 50px;
    }

    .title .small-letter {
        font-size: 37px;
    }
}

.subtitle {
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Ombreggiatura leggera per il sottotitolo */
}
.container.small{
    .social-buttons a {
        padding: 4px 6px;
    }
}
/* Centro i pulsanti */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;

    a {
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
    }
}

.btn-telegram {
    background-color: #2481cc;
}

.btn-telegram:hover, .btn-telegram:active {
    background-color: #1a8ad5 !important;
    color: #fff !important;
}

/* Instagram button */
.btn-instagram {
    background-color: #E4405F;
}

.btn-instagram:hover, .btn-instagram:active {
    background-color: #C13584 !important;
    color: #fff !important;
}
/* YouTube button */
.btn-youtube {
    background-color: #FF0000;
}

.btn-youtube:hover, .btn-youtube:active {
    background-color: #CC0000 !important;
    color: #fff !important;
}
